<link rel="stylesheet" href="/styles/recorder.css">
<% var isavailable = isavailable  %>
<div class="container">
    <!-- Mic button -->
    
    <button id="micButton" class="mic-button"></button>
    <!-- Rewind button -->
    <button id="rewindButton" class="rewind-button hidden"></button>
    <!-- Play button -->
    <button id="playButton" class="play-button hidden"></button>
    <!-- Forward button -->
    <button id="forwardButton" class="forward-button hidden"></button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="styles/recorder.js"></script>
<!-- Include your custom JavaScript file -->
