<div class="vertical-half">
  <ul class="vertical-items-navbar" >
    <div class="vertical-items-navbar-title">
      <li class="vertical-items-navbar-list-title">Share Log</li>
    </div>
    <a href= "/">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-table-columns "></i>&nbsp;&nbsp;&nbsp;&nbsp; Dashboard</li>
      </div>
    </a>
    <a href= "/Portfolio">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-briefcase "></i>&nbsp;&nbsp;&nbsp;&nbsp; Portfolio
        </li>
      </div>
    </a>
    <a href= "/Positions">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-map-pin "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Positions</li>
      </div>
    </a>
    <a href= "/Holdings">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-hand-holding-dollar "></i>&nbsp;&nbsp;&nbsp;&nbsp;Holdings</li>
      </div>
    </a>
    <a href= "/Overview-Report">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-file-lines "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Overview Report</li>
      </div>
    </a>
    <a href= "/Setup-Report">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-file-lines "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Setup Report</li>
      </div>
    </a>
    <a href= "/ShareLog-Analysis">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-file-lines "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShareLog Analysis</li>
      </div>
    </a>
    <a href= "/Strategies">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-bullseye "></i>&nbsp;&nbsp;&nbsp;&nbsp;Strategies</li>
      </div>
    </a>
    <a href= "/Profile">
      <div class="vertical-items-navbar-item">
        <li class="vertical-items-navbar-list-item"><i class="fa-solid fa-user "></i>&nbsp;&nbsp;&nbsp;&nbsp; Profile</li>
      </div>
    </a>
  </ul>
</div>