<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancellation and Refund Policy</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/178f732bae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/registrations/registration-4/assets/css/registration-4.css">
    <link href="/styles/light/Signup.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/test-images/logo.ico">
</head>
<body>
  <!-- Registration 4 - Bootstrap Brain Component -->
    <section>
      <div class="container">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
                <!-- <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" alt="BootstrapBrain Logo"> -->
                <img class="img-fluid rounded-start object-fit-cover" loading="lazy" src="/test-images/3.jpg" alt="BootstrapBrain Logo" style="width: 90vh; height:92vh">
              </div>
            <div class="col-12 col-md-6 hui"  style="padding-bottom: 0; margin-bottom: 0;">
              <div class="card-body p-3 p-md-4 p-xl-5" style="padding-bottom: 0; margin-bottom: 0;">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5">
                      <h2 style="margin-bottom: 0;">Cancellation and Refund Policy</h2>
                    </div>
                  </div>
                </div>
                  <div class="row gy-3 gy-md-4">
                    <ol>
                        <li>
                            <b>Cancellation Policy:</b> <br>
                            <p>Users may cancel their subscription to Sharelog at any time. To cancel a subscription, users can follow the cancellation instructions provided within the Sharelog mobile application or contact our customer support team.</p>
                        </li>
                        <br>
                        <li>
                            <b>Refund Policy:</b> <br>
                            <p>Sharelog offers a refund for subscription fees paid within a certain timeframe from the date of purchase. Refund requests must be submitted within 14 days of the initial purchase. To request a refund, users can contact our customer support team with their purchase details. <br>

                            Please note that certain conditions may apply to refund eligibility, and refunds will be processed in accordance with our discretion and applicable laws.</p>
                        </li>
                        <br>
                        <li>
                            <b>Contact Us:</b> <br>
                            <p>For any sort of assistance or guidance, feel free to <a href="/support">contact us</a>.</p>
                        </li>
                    </ol>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>