<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms Of Use</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/178f732bae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/registrations/registration-4/assets/css/registration-4.css">
    <link href="/styles/light/Signup.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/test-images/logo.ico">
</head>
<body>
  <!-- Registration 4 - Bootstrap Brain Component -->
    <section>
      <div class="container" style="margin-top: 2rem;">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6 hui"  style="padding-bottom: 0; margin-bottom: 0;">
              <div class="card-body p-3 p-md-4 p-xl-5" style="padding-bottom: 0; margin-bottom: 0;">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5">
                      <h2 style="margin-bottom: 0;">Terms of Service</h2>
                    </div>
                  </div>
                </div>
                  <div class="row gy-3 gy-md-4">
                    
                    <p>Welcome to Sharelog! These terms and conditions govern your use of our website and services. By accessing or using Sharelog, you agree to be bound by these terms. Please read them carefully.</p>
                    <ol>
                      <li>
                        <b>Acceptance of Terms:</b> <br>
                        <p>By accessing or using Sharelog in any manner, including but not limited to visiting or browsing the website, you agree to be bound by these Terms of Use and all other operating rules, policies, and procedures that may be published from time to time on Sharelog.</p>
                      </li>
                      <li>
                        <b>Description of Service:</b> <br>
                        <p>Sharelog provides users with a platform for journaling trading data and saving related text and audio recordings. Users may also access additional features and services that may be introduced from time to time.</p>
                      </li>
                      <li>
                        <b>User Accounts:</b> <br>
                        <p>You may be required to create an account to access certain features of Sharelog. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
                      </li>
                    </ol>
                    <div class="col-12" style="margin-top: 5px; margin-left: 0; padding-left: 0;">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card-body p-3 p-md-4 p-xl-5" style="padding-bottom: 0; margin-bottom: 0;">
                    <!-- <div class="row">
                      <div class="col-12">
                        <div class="mb-5">
                          <h2 style="margin-bottom: 0;">Terms of Service</h2>
                        </div>
                      </div>
                    </div> -->
                      <div class="row gy-3 gy-md-4">
                        <ol start="4">
                            <li>
                                <b>User Conduct:</b> <br>
                                <p>You agree to use Sharelog only for lawful purposes and in accordance with these Terms of Use. You must not: <br>
                                    <ul>
                                        <li>Violate any applicable laws or regulations.</li>
                                        <li>Impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
                                        <li>Engage in any conduct that restricts or inhibits anyone's use or enjoyment of Sharelog.</li>
                                    </ul>
                                    </p>
                              </li>
                          <li>
                            <b>Intellectual Property:</b> <br>
                            <p>The content, features, and functionality of Sharelog, including but not limited to text, graphics, logos, images, audio clips, and software, are the property of Sharelog or its licensors and are protected by copyright, trademark, and other intellectual property laws.</p>
                          </li>
                          <li>
                            <b>Privacy:</b> <br>
                            <p>Your privacy is important to us. Please review our <a href="/privacy-policy">Privacy Policy</a>, which explains how we collect, use, and disclose information about you when you use Sharelog.</p>
                          </li>
                          <li>
                            <b>Contact Us:</b> <br>
                            <p>For any sort of assistance or guidance, feel free to <a href="/support">contact us</a>.</p>
                          </li>
                        </ol>
                        <div class="col-12" style="margin-top: 5px; margin-left: 0; padding-left: 0;">
                        </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>